nav
{
    background-color: red;
}

main
{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

main section#content
{
    background-color: blue;
}

main aside
{
    background-color: yellow;
}

footer
{
    background-color: green;
}